pip>=21.2.4
zlib>=1.2.11
wheel>=0.37.1
openssl>=1.1.1m
cryptography>=36.0.0
py>=1.11.0
lxml>=4.7.1
tornado>=6.1
keyring>=23.4.0
setuptools>=58.0.4
cython>=0.29.25
future>=0.18.2
docutils>=0.17.1
numpy>=1.21.2
matplotlib>=3.5.1
ipywidgets>=7.6.5
ipython>=7.31.1
scipy>=1.7.3
pandas>=1.4.1
brotli>=1.0.9

astropy>=4.2.1
ccdproc>=2.2.0
specutils>=1.2
dtw>=1.1